<div *ngIf="choosePlan">

      <h1>7ctech Solution | Angular Project</h1>

      <div style="clear:both;"></div>

      <button class="take-a-tour-btn" (click)="cancel()">Back</button>
      <button class="take-a-tour-btn" (click)="close()">Close</button>
      <br>
<!-- 
      <p> Gift-Single-Page! </p> -->

      <h3>Plan Selected: {{choosePlan}}</h3>

      Main <button class="take-a-tour-btn" (click)="onClickRegister(129)">$129</button> <br>
      Mid <button class="take-a-tour-btn" (click)="onClickRegister(109)">$109</button> <br>
      Mini <button class="take-a-tour-btn" (click)="onClickRegister(39)">$39</button> <br>

      <br>
      <div style="clear:both;"></div>

      <h5> 2019 &copy; ALL Right Reserved!</h5>
</div>