<h1>7ctech Solution | Angular Project</h1>
  
<div style="clear:both;"></div>

<h1>{{title}}</h1>

<p> Please select a plan </p>

<button class="take-a-tour-btn" (click)="onClickSingle()">Click on Single</button>

<button class="take-a-tour-btn" (click)="onClickMonthly()">Click on Monthly</button>

<div style="clear:both;"></div>

<h5> 2019 &copy; ALL Right Reserved!</h5>
