<div *ngIf="choosePlan">

  <h1>7ctech Solution | Angular Project</h1>

  <div style="clear:both;"></div>

    <button class="take-a-tour-btn" (click)="cancel()">Back</button>
    <button class="take-a-tour-btn" (click)="close()">Close</button>
    <br>
    <!-- <p>
      Gift-Monthly Page!
    </p> -->

    <h3>Plan Selected: {{choosePlan}}</h3>
    <br>

    <button class="take-a-tour-btn" (click)="onClickMonthlyDetail(3)">Click on 3 Months</button> <br>
    <button class="take-a-tour-btn" (click)="onClickMonthlyDetail(6)">Click on  6 Months </button> <br>
    <button class="take-a-tour-btn" (click)="onClickMonthlyDetail(12)">Click on  12 Months </button><br>

    <div style="clear:both;"></div>

    <h5> 2019 &copy; ALL Right Reserved!</h5>
</div>