<div *ngIf="cookieValue">
    <h1>7ctech Solution | Angular Project</h1>
  
    <div style="clear:both;"></div>
  
  <button class="take-a-tour-btn" (click)="cancel()">Back</button>
  <button class="take-a-tour-btn" (click)="close()">Close</button>
  <br>
  <br>
  <br>
  
<table>
    <tr><th>S#</th><th>Email Address</th></tr>
    <tbody *ngFor="let user of users.data">
    <tr><td>{{user.num}}</td><td>{{user.email}}</td></tr>
 
 </tbody>
</table>

    <br>
  
    <div style="clear:both;"></div>
  
  <h5> 2019 &copy; ALL Right Reserved!</h5>
  
  </div>

