/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.error {
    color: red;
    /* margin-bottom: 6px; */
    padding: 0 !important;
    margin: 0 !important;
  }

  body{
    text-align: center;
}

table{
  margin: 0 auto;
}