<div *ngIf="choosePlan">

  <h1>7ctech Solution | Angular Project</h1>

  <div style="clear:both;"></div>

    <button class="take-a-tour-btn" (click)="cancel()">Back</button>
    <button class="take-a-tour-btn" (click)="close()">Close</button>
    <br>
    <!-- <p>
      Gift-Monthly-Details Page!
    </p> -->

    <h3>Plan Selected: {{choosePlan}}</h3>

    <h4>Number Of Months: {{numOfMonths}}</h4>


    <button class="take-a-tour-btn" (click)="onClickRegister(79)">$79</button>
    <button class="take-a-tour-btn" (click)="onClickRegister(99)">$99</button>

    <div style="clear:both;"></div>

    <h5> 2019 &copy; ALL Right Reserved!</h5>
</div>