<!-- <div *ngIf="choosePlan"> -->

  <h1>7ctech Solution | Angular Project</h1>

  <div style="clear:both;"></div>

  <button class="take-a-tour-btn" (click)="cancel()">Back</button>
<button class="take-a-tour-btn" (click)="close()">Close</button>
<br>
<p>
    Register Now!
</p>

<h3>Plan Selected: {{choosePlan}}</h3>

<div *ngIf="numOfMonths">Number of Months ({{numOfMonths}})</div>
Price ${{singleNumber}}
<!-- <form #companyForm="ngForm" (ngSubmit)="submitCompany(companyForm.form);">
    <div class="rows">
<div class="col-md-12">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="first-name" ngModel #firstName="ngModel">
      </div>
  
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="last-name" ngModel #lastName="ngModel">
      </div>
    
  
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" ngModel #email="ngModel">
    </div>
  
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" ngModel #password="ngModel">
    </div>

</div></div>

<div style="clear:both">
<button class="btn btn-primary" [disabled]="!companyForm.valid">Submit</button>
</div>
  
  </form> -->

<div class="formCSS">
  <form role="form" #customerCreateForm="ngForm" (ngSubmit)="submitCustomerCreate(customerCreateForm.form);">

      <div class="form-group">
          <label for="firstname">First Name:</label>
          <input type="firstname" class="form-control" required id="firstname" name="firstname" ngModel #firstname="ngModel">
      </div>
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="lastname" class="form-control" required id="lastname" name="lastname" ngModel #lastname="ngModel">
        </div>  
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" required id="email" name="email" ngModel #email="ngModel">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" required id="password" name="password" ngModel #password="ngModel">
          </div>
      
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!customerCreateForm.valid">Submit</button>
      </div>

    </form>

  </div>  

  <br>




  <input [(ngModel)]="name" type="text">

{{name}}


  <div style="clear:both;"></div>

<h5> 2019 &copy; ALL Right Reserved!</h5>

<!-- </div> -->