body{
    text-align: center;
}

.take-a-tour-btn, a, input, button, div,h1, h2, h3, h4, h5, p{
    padding: 10px;
    margin: 10px;
}
/* 
.form-group{
    width: 46%;
    float: left;
} */

.formCSS, .formCSS input{
    margin: 0 auto;
    padding: 0;
    width:300px;
    text-align: left;
}

.formCSS .form-group{
    padding: 0;
}

p {
    font-family: Lato;
  }
  
  input, textarea {
    display: block;
    margin-bottom: 12px;
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .formSection {
       text-align: left;
  }

  .form-group , .col , .form-control{
      padding: 0;
      margin: 0;
  }

  .form-group {
      margin: 5px;
  }
 