<div *ngIf="!cookieValue">
<div *ngIf="choosePlan">
  <h1>7ctech Solution | Angular Project</h1>

  <div style="clear:both;"></div>

  <button class="take-a-tour-btn" (click)="cancel()">Back</button>
<button class="take-a-tour-btn" (click)="close()">Close</button>
<br>
<p>
    Register Now!
</p>

<h3>Plan Selected: {{choosePlan}}</h3>

<div *ngIf="numOfMonths">Number of Months ({{numOfMonths}})</div>
  
Price ${{price}}

<div class="formSection row">
    <div class="col"></div>

    <div class="col col-md-6">

        <p *ngIf="isValidFormSubmitted" [ngClass] = "'success'">
            Form submitted successfully.
        </p>
        
        <form role="form" [formGroup]="form" (ngSubmit)="submit()">

<div class="row">
    <div class="col">
      <div class="row">
          <div class="col"> 
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" class="form-control" required formControlName="firstName" placeholder="First name" />
                <div *ngIf="form.controls.firstName.errors?.required && form.controls.firstName.touched" class="error">
                  *First name is required
                </div>
                <div *ngIf="form.controls.firstName.errors?.pattern && form.controls.firstName.touched" class="error">
                  *Only characters is allowed
                </div>
            </div>
          </div>
          <div class="col">

              <div class="form-group">
                  <label for="lastname">Last Name</label>
                  <input type="text" id="lastname" class="form-control" required formControlName="lastName" placeholder="Last name" />
                  <div *ngIf="form.controls.lastName.errors?.required && form.controls.lastName.touched" class="error">
                    *Last name is required
                  </div>
                  <div *ngIf="form.controls.lastName.errors?.pattern && form.controls.firstName.touched" class="error">
                    *Only characters is allowed
                  </div>
                </div>

          </div>
      </div>

      <div class="row">
          <div class="col"> 
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="number" id="phone" class="form-control" required formControlName="phone"  placeholder="132456789" />
                <div *ngIf="form.controls.phone.errors?.required && form.controls.phone.touched" class="error">
                  *Phone number is required
                </div>
                <div *ngIf="form.controls.phone.errors?.pattern && form.controls.phone.touched" class="error">
                    *Only numbers are allowed
                  </div>
            </div>
          </div>
          <div class="col">

              <div class="form-group">
                  <label for="birthday">Birthday</label>
                  <input type="text" id="birthday" class="form-control" mask="00/00/0000" required formControlName="birthday" (focusout)="birthday2()" placeholder="MM/DD/YYYY"/>
                  <div *ngIf="form.controls.birthday.errors?.required && form.controls.birthday.touched" class="error">
                    *Birthday is required
                  </div>
                  <div *ngIf="form.controls.birthday.errors?.maxlength && form.controls.birthday.touched" class="error">
                    *Bithday Max Length
                  </div>
                  <div *ngIf="form.controls.birthday.errors?.pattern && form.controls.birthday.touched" class="error">
                      *Pattern not matched (MM/DD/YYYY) {{errorMsg}}
                 </div>
                </div>

          </div>
      </div>

      <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" class="form-control" required formControlName="email"  placeholder="Email Address" />
                <div *ngIf="form.controls.email.errors?.required && form.controls.email.touched" class="error">
                  *Email is required
                </div>
                <div *ngIf="form.controls.email.errors?.email && form.controls.email.touched" class="error">
                    *Email must be a valid email address
                  </div>
              </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" required formControlName="password"  placeholder="******"  />
           
                <div *ngIf="form.controls.password.errors?.required && form.controls.password.touched" class="error">
                  *Password is required
                </div>
                <div *ngIf="form.controls.password.errors?.minLength && form.controls.password.touched" class="error">
                    *Password min 6 length required
                  </div>
              </div>

        </div>
      </div>
      

      <div class="row">
        <div class="col col-md-4"></div>
        
        <div class="col  col-md-4" style="text-align:center"> 
            <div class="form-group">
              <button class="btn btn-primary" [disabled]="!form.valid">Create Profile</button>
          </div>
        </div>

        <div class="col  col-md-4"></div>
      </div>
    </div> 
</div>
    
</form>

</div>
<div class="col"></div> 

</div>

  <br>

  <div style="clear:both;"></div>

<h5> 2019 &copy; ALL Right Reserved!</h5>

</div>

</div>